In [3]:
import re
import pandas as pd

In [4]:
MarvelComic_data = pd.read_csv(r"C:\Users\user\OneDrive\Dokumente\DATA SCIENCE\Marvel_Comics.csv")

In [5]:
MarvelComic_data.head()

,comic_name,active_years,issue_title,publish_date,issue_description,penciler,writer,cover_artist,Imprint,Format,Rating,Price
0,A Year of Marvels: April Infinite Comic (2016),(2016),A Year of Marvels: April Infinite Comic (2016) #1,"April 01, 2016",The Infinite Comic that will have everyone tal...,Yves Bigerel,Yves Bigerel,Jamal Campbell,Marvel Universe,Infinite Comic,Rated T+,Free
1,A Year of Marvels: August Infinite Comic (2016),(2016),A Year of Marvels: August Infinite Comic (2016...,"August 10, 2016","It’s August, and Nick Fury is just in time to ...",Jamal Campbell,"Chris Sims, Chad Bowers",NaN,Marvel Universe,Infinite Comic,NaN,Free
2,A Year of Marvels: February Infinite Comic (2016),(2016),A Year of Marvels: February Infinite Comic (20...,"February 10, 2016",Join us in a brand new Marvel comics adventure...,"Danilo S. Beyruth, M Mast",Ryan North,NaN,Marvel Universe,Infinite Comic,Rated T+,Free
3,A Year of Marvels: July Infinite Comic (2016),(2016),A Year of Marvels: July Infinite Comic (2016) #1,"June 29, 2016",Celebrating the Fourth of July is complicated ...,Juanan Ramirez,Chuck Wendig,Jamal Campbell,Marvel Universe,Infinite Comic,NaN,Free
4,A Year of Marvels: June Infinite Comic (2016),(2016),A Year of Marvels: June Infinite Comic (2016) #1,"June 15, 2016",Sam Alexander’s finding it hard to cope with t...,Diego Olortegui,Paul Allor,Jamal Campbell,Marvel Universe,Infinite Comic,NaN,Free

In [8]:
import re

# Extract superhero names and groups from the issue descriptions
def extract_superheroes(description):
    # Ensure the description is a string
    if isinstance(description, str):
        # RegEx pattern to find superhero names/groups (e.g., 'X-Men', 'Wolverine', 'Storm')
        superhero_pattern = r'\b(?:X-Men|Wolverine|Storm|Iron Man|Spider-Man|Captain America|Thor|Hulk|Black Panther|Deadpool)\b'
        # Find all matching superheroes/groups in the description
        return re.findall(superhero_pattern, description)
    else:
        # Return an empty list if the description is not a string (e.g., NaN or a number)
        return []

# Apply the extraction function to the 'issue_description' column in your dataset
MarvelComic_data['superheroes'] = MarvelComic_data['issue_description'].apply(extract_superheroes)

# Display the superheroes found in the first few issues
MarvelComic_data[['comic_name', 'superheroes']].head()

                                          comic_name superheroes
0     A Year of Marvels: April Infinite Comic (2016)          []
1    A Year of Marvels: August Infinite Comic (2016)          []
2  A Year of Marvels: February Infinite Comic (2016)          []
3      A Year of Marvels: July Infinite Comic (2016)          []
4      A Year of Marvels: June Infinite Comic (2016)  [Iron Man]

In [12]:
# RegEx patterns for different topics
topics_patterns = {
    "villains": r'\b(villain|villains|evil|dark)\b',
    "heroic": r'\b(heroic|hero|bravery|courage)\b',
    "adventure": r'\b(adventure|quest|journey|exploration)\b',
    "X-Men": r'\bX-Men\b',
    "Avengers": r'\bAvengers\b'
}
# Function to find topics in the descriptions
def find_topics(description):
    # Convert non-string values (e.g., NaN, float) to empty string
    if not isinstance(description, str):
        description = ""  # If it's not a string, treat it as an empty string
    
    topics_found = {}
    for topic, pattern in topics_patterns.items():
        # Find all occurrences of the topic in the description
        matches = re.findall(pattern, description, re.IGNORECASE)
        topics_found[topic] = len(matches)
    return topics_found
# Apply the function to the 'issue_description' column
MarvelComic_data['topics'] = MarvelComic_data['issue_description'].apply(find_topics)
# Display the topics found in the first few issues
MarvelComic_data[['comic_name', 'topics']].head()

,comic_name,topics
0,A Year of Marvels: April Infinite Comic (2016),"{'villains': 0, 'heroic': 0, 'adventure': 0, '..."
1,A Year of Marvels: August Infinite Comic (2016),"{'villains': 0, 'heroic': 0, 'adventure': 0, '..."
2,A Year of Marvels: February Infinite Comic (2016),"{'villains': 1, 'heroic': 0, 'adventure': 3, '..."
3,A Year of Marvels: July Infinite Comic (2016),"{'villains': 0, 'heroic': 0, 'adventure': 0, '..."
4,A Year of Marvels: June Infinite Comic (2016),"{'villains': 0, 'heroic': 0, 'adventure': 0, '..."

In [13]:
# Create a summary of topic frequencies
topic_counts = pd.DataFrame(MarvelComic_data['topics'].tolist())

# Sum up the occurrences of each topic across all descriptions
topic_frequency = topic_counts.sum()

# Display the frequency of each topic
print("Most Frequently Occurring Topics:")
print(topic_frequency.sort_values(ascending=False))

Most Frequently Occurring Topics:
X-Men        3857
Avengers     3527
villains     3458
heroic       1747
adventure    1515
dtype: int64

In [14]:
# RegEx pattern to extract individual X-Men members
xmen_members_pattern = r'\b(Wolverine|Storm|Cyclops|Jean Grey|Beast|Nightcrawler|Professor X|Rogue|Gambit)\b'

# Function to extract X-Men members from descriptions
def extract_xmen_members(description):
    if isinstance(description, str):
        return re.findall(xmen_members_pattern, description)
    else:
        return []

# Apply the extraction function to the 'issue_description' column
MarvelComic_data['xmen_members'] = MarvelComic_data['issue_description'].apply(extract_xmen_members)

# Display the X-Men members found in the first few issues
MarvelComic_data[['comic_name', 'xmen_members']].head()

                                          comic_name xmen_members
0     A Year of Marvels: April Infinite Comic (2016)           []
1    A Year of Marvels: August Infinite Comic (2016)           []
2  A Year of Marvels: February Infinite Comic (2016)           []
3      A Year of Marvels: July Infinite Comic (2016)           []
4      A Year of Marvels: June Infinite Comic (2016)           []